:root {
    --background-color: #fff;
    --main-font: Source Sans Pro, Helvetica, sans-serif;
    --main-font-size: 82px;
    --main-color: #F00 !important;
}

.reveal section {
    color: #F00 !important;
}